<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Delete Flight | Admin | FlyAway</title>
</head>
<body>

<h3>Delete Flight</h3>
	
	<p th:if="${error}" th:text="${error}" style="color:red"></p>
	<p th:if="${msg}" th:text="${msg}" style="color:green"></p>
	
	<form action="/admin/deleteFlight" method="post">
		<label>Flight ID:</label>
		<input type="text" name="flightId" required><br/><br/>
		
		<input type="submit" value="Delete Flight" name=deleteFlight>
		<input type="reset" value="Reset" name="reset">
	</form>
	
	<br/>
	<br/>
	<a href="/admin/dashboard">Back</a>




</body>
</html>