<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Dashboard | FlyAway</title>
</head>
<body>
	<h2>Welcome to Admin Dashboard</h2>
	<br/>

	<a href="/admin/changePassword">Change Password</a><br/>
	<hr>
	<h4>Manage Airlines</h4>
	<a href="/admin/addAirline">Add new Airline</a><br/><br/>	
	<a href="/admin/deleteAirline">Delete Airline</a><br/><br/>	
	<a href="/admin/allAirline">View All Airlines</a><br/>
	<hr>
	<h4>Manage Cities</h4>
	<a href="/admin/addCity">Add new City</a><br/><br/>	
	<a href="/admin/deleteCity">Delete City</a><br/><br/>	
	<a href="/admin/allCity">View All Cities</a><br/>
	<hr>
	<h4>Manage Flights</h4>
	<a href="/admin/addFlight">Add new Flight</a><br/><br/>	
	<a href="/admin/deleteFlight">Delete Flight</a><br/><br/>	
	<a href="/admin/allFlight">View All Flights</a><br/>
	<hr>
	<a href="/admin/login">Log Out</a>
	
</body>
</html>