<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User Payment Details | FlyAway</title>
</head>
<body>
	<h2>Complete Your Payment</h2>
	<br/>
	
	<form action="/user/confirmBooking">			
		<label>Card Number:</label>
		<input type="text" name="cardNumber" required><br/><br/>
		
		<label>Name on Card:</label>
		<input type="text" name="name" required><br/><br/>
		
		<label>Expiry Date:</label>
		<input type="text" name="expiryDate" required><br/><br/>
		
		<label>CVV:</label>
		<input type="number" name="cvv" required><br/><br/>

		<input type="submit" value="Complete Payment" name=completePayment>
		<input type="reset" value="Reset" name="reset">
	</form>
	
	<br/>
	<br/>
	<a href="/user/searchFlight">Back to Search Flights</a>
	
	
</body>
</html>